@if (errorMessage) {
<div>{{ errorMessage }}</div>
}
<!-- Fundo de estrelas via CSS -->
<div class="estrelas"></div>

<!-- Wrapper que centraliza tudo -->
<div class="wrapper">
  <div class="formulario">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- Campo Usuário -->
      <div class="caixa-formulario">
        <input type="email" placeholder="Email" formControlName="email" required/>
      </div>

      <!-- Campo Senha -->
      <div class="caixa-formulario">
        <input type="password" placeholder="Palavra-Passe" formControlName="password" required />
      </div>


      <!-- Botão Entrar -->
      <button type="submit" [disabled]="form.invalid">Entrar</button>

      <!-- Link Registrar -->
      <p class="link-registro">
        Não tem conta? <a href="/register">Registar</a>
      </p>
    </form>
  </div>
</div>